@media(min-width:768px){
:root{
    font-size: calc(0.5em + 1.5vw); /*19.5 px*/

}   
.hello_john {
    /* background-image: url("../img/avatar_johnDoe.png");
    background-size: contain; */
   /* min-height: 40rem; */
   height: auto;
    /* background-position: 18rem bottom   ;
    background-repeat: no-repeat; */
 
   margin: 0;
   padding: 0;
   background-color: var(--brand-color-light);

}


.red_label {
        font-size: 3.8421rem;
       
    width:22.7368rem;
    height: 12rem;
    margin: 0;
    position: relative;
    /* top: 10rem; */
    padding: 0;
    align-self: center;
    
    }
    .red_label p:nth-child(1){
        margin: 0;
       padding-top :2rem ;
       padding-left: 3rem;
    
    }
    .red_label p:nth-child(2){
        font-size: 1.897435rem;
        margin: 0;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }
    
.avatar_john{
    /* display: none; */
   background-image: url('/img/avatar_johnDoe.png');
}
 


}